<beans:beans xmlns="http://www.springframework.org/schema/batch"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
             xmlns:util="http://www.springframework.org/schema/util"
             xmlns:jdbc="http://www.springframework.org/schema/jdbc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/batch
           http://www.springframework.org/schema/batch/spring-batch-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
    <beans:import resource="spring-datasource.xml"/>
    <job id="job">
        <step id="step1">
            <tasklet>
                <chunk reader="itemReader" processor="itemProcessor" writer="itemWriter" commit-interval="1"/>
            </tasklet>
        </step>
    </job>

    <beans:bean id="itemProcessor" class="app.config.AccountItemProcessor"/>

    <beans:bean id="jobRepository"
                class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean"
                p:dataSource-ref="dataSource" p:transactionManager-ref="transactionManager"/>

    <beans:bean id="jobLauncher"
                class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <beans:property name="jobRepository" ref="jobRepository"/>
    </beans:bean>
    <beans:bean id="fieldExtractor" class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor"
                p:names="id, email, passWord, phoneNumber"
    />
    <beans:bean id="lineAggregator" class="org.springframework.batch.item.file.transform.DelimitedLineAggregator"
                p:fieldExtractor-ref="fieldExtractor" p:delimiter=","
    />
    <beans:bean id="itemWriter" class="org.springframework.batch.item.file.FlatFileItemWriter">
        <beans:property name="resource" value="account.csv"/>
        <beans:property name="lineAggregator" ref="lineAggregator"/>
    </beans:bean>

    <beans:bean id="itemReader"
                class="org.springframework.batch.item.database.JdbcCursorItemReader"
                scope="step">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="sql"
                        value="select id, Email, PassWord, Phone_Number from account"/>
        <beans:property name="rowMapper">
            <beans:bean class="app.Utils.AccountRowMapper"/>
        </beans:property>
    </beans:bean>

    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:org/springframework/batch/core/schema-drop-mysql.sql"/>
        <jdbc:script location="classpath:org/springframework/batch/core/schema-mysql.sql"/>
    </jdbc:initialize-database>
</beans:beans>
